# NLP DISASTER TWEETS

References:  
https://www.youtube.com/watch?app=desktop&v=vyOgWhwUmec  
https://www.kaggle.com/c/nlp-getting-started/overview  


The plan for this challenge is to:

#### Data preparation:
1. Import the data
2. Review data to see if anything pops out
3. Check if all data has been classified

#### ML Models:
1. Bag of words
2. Word Vectors
3. Stemming/Lemmatizing with NLTK
4. Stopword removal
5. Transformer - Bert

#### Train

#### Test/Evaluate

#### Parameter Tuning

--------

Ideas & notes:

- drop numerical values

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from sklearn import svm #good, classic classification model
from sklearn import metrics

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
print(f"Data shape = {df_train.shape}")
print(f"Data shape = {df_train.memory_usage().sum()/1024**2:.3f}MB")
print(f"Test data shape = {df_test.shape}")

Data shape = (7613, 5)
Data shape = 0.291MB
Test data shape = (3263, 4)

In [4]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
df_train['target'].count()

7613

In [7]:
train_list = df_train["text"].tolist()
print(train_list[3])
target_list = df_train['target'].tolist()
print(target_list[:2])

13,000 people receive #wildfires evacuation orders in California
[1, 1]

In [8]:
vectorizer = CountVectorizer()

X = vectorizer.fit_transform(train_list)

In [9]:
#print(vectorizer.get_feature_names())
#print(X.toarray())

In [10]:
clf_svm = svm.SVC(kernel='linear', probability=True)
clf_svm.fit(X, target_list)

SVC(kernel='linear', probability=True)

In [11]:
test_list = df_test["text"].tolist()

In [12]:
test_x = vectorizer.transform(test_list)

In [13]:
y_pred = clf_svm.predict(test_x)
print(y_pred)

In [14]:
#clf_svm.predict_proba(test_x)

In [19]:
df_sub = df_test.drop(['keyword','location','text'], axis=1)

In [24]:
df_sub['target'] = y_pred
df_sub.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [26]:
df_sub.to_csv(r'/Users/luke/Documents/PyProjects/Kaggle/NLP - Disaster Tweets/Submission1.csv', index = False)