<a href="https://colab.research.google.com/github/11lll/NLP_Disaster_Tweets/blob/main/NLP_Disaster_Tweets_(Training_session).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collab 1

In [ ]:
### Try different models - notice over-fitting
### CROSS VALIDATION (leave one out = train vs test - KFold = break it down in K number of datasets)
### Use hyperparameter tuning and cross validate

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from sklearn import svm #good, classic classification model
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [ ]:
df_train.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [ ]:
# LOOCV -> leave one out cross-validation
X = df_train.text
y = df_train.target
print(len(X))
print(len(y))
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=1111)

7613
7613

In [ ]:
print(len(X_train))
print(len(X_val))

5100
2513

In [ ]:
X

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [ ]:
X_train

5339    @KhalidKKazi mate they've taken another 2 sinc...
3985    Who is bringing the tornadoes and floods. Who ...
21                                      London is cool ;)
6173    Rappers stop sampling police sirens and start ...
3674                    Fatality  https://t.co/407V1y4HHg
                              ...
3468    New Explosion-proof Tempered Glass Screen Prot...
3409    Is he about to crash?\nDid the Queen die?\nDid...
2789           beautiful disaster https://t.co/qm5Sz0fyU8
311     @KatieKatCubs you already know how this shit g...
2460    @AlvinNelson07 A train isn't made to withstand...
Name: text, Length: 5100, dtype: object

In [ ]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [ ]:
train_list = df_train["text"].tolist()
print(train_list[3])
target_list = df_train['target'].tolist()
print(target_list[:2])

13,000 people receive #wildfires evacuation orders in California
[1, 1]

In [ ]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(train_list)

In [ ]:
#svm : support vector machine
#SVC : support vector classifier
"""
Tester plusieurs models
Tester diff. parametres
"""
clf_svm = svm.SVC(kernel='linear', probability=True)
clf_svm.fit(X, target_list)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
test_list = df_test["text"].tolist()

In [ ]:
test_x = vectorizer.transform(test_list)

In [ ]:
y_pred = clf_svm.predict(test_x)
print(y_pred)

[1 1 1 ... 1 1 0]

In [ ]:
df_sub = df_test.drop(['keyword','location','text'], axis=1)

In [ ]:
df_sub['target'] = y_pred
df_sub.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1

In [ ]:
df_sub.to_csv(r'Submission4.csv', index = False)